#!/bin/sh -

CHESS_PATH="$(realpath $(dirname $1))"
export CHESS_PATH

C_INCLUDE_PATH="$CHESS_PATH/src"
export C_INCLUDE_PATH

CPP_INCLUDE_PATH="$C_INCLUDE_PATH"
export CPP_INCLUDE_PATH

C_PATH="/usr/local/include:$CHESS_PATH/src"
export C_PATH

C_FLAGS="-std=c11"
export C_FLAGS

LIBRARY_PATH=""
export LIBRARY_PATH
