#!/bin/sh -

CHESS_PATH="$(realpath $(dirname $1))"
export CHESS_PATH

C_INCLUDE_PATH="$CHESS_PATH/src:$CHESS_PATH/src/ndjin:$CHESS_PATH/src/net:$CHESS_PATH/src/gui"
export C_INCLUDE_PATH

CPP_INCLUDE_PATH="$C_INCLUDE_PATH"
export CPP_INCLUDE_PATH

C_PATH="$C_INCLUDE_PATH"
export C_PATH

C_FLAGS="-std=c2x"
export C_FLAGS

LIBRARY_PATH=""
export LIBRARY_PATH
